<html lang="{{ app()->getLocale() }}">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css" />
  <link rel="stylesheet" href="./css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Exo+2|Noto+Serif|Yanone+Kaffeesatz" rel="stylesheet">
  <script src="https://use.fontawesome.com/d41a0ab025.js"></script>
  <title>Newso</title>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
</head>
<body class="backcolor">

  <div class="topAndLogo">
    <div class="flex-container">
      <div>
        <h2 class="logo flex-1">The Calgary Times</h2>
      </div>
      <div>
        <input type="text" name="searchbar" value="" class="searchbar flex-2">
      </div>
    </div>
  </div>

  <div class="databar">
    <div class="flex-container">
      <div class="flex-container flex-1">
        <div class="databarPush">
          <a href="#" class="headercolor">Headlines</a>
        </div>
        <div class="databarAdjust">
          <a href="#" class="headercolor">Local</a>
        </div>
        <div class="databarAdjust">
          <a href="#" class="headercolor">For You</a>
        </div>
      </div>
    </div>
  </div>

  <div class="main flex-container">

    <div class="sidebar flex-1">
      <div class="sectionstitle">Sections</div>
      <div class="padcategories"><a href="#" class="linkfix">Top Stories</a></div>
      <div class="padcategories"><a href="#" class="linkfix">World</a></div>
      <div class="padcategories"><a href="#" class="linkfix">Technology</a></div>
      <div class="padcategories"><a href="#" class="linkfix">Business</a></div>
      <div class="padcategories"><a href="#" class="linkfix">Health</a></div>
      <div class="padcategories"><a href="#" class="linkfix">Science</a></div>
      <div class="padcategories"><a href="#" class="linkfix">Sports</a></div>
      <div class="padcategories"><a href="#" class="linkfix">Entertainment</a></div>
      <div class="padcategories"><a href="#" class="linkfix">Politics</a></div>
    </div>




    <div class="content flex-2">
      <p>BYEYAYHAHYAHYA</p>
    </div>



    <div class="flex-1">
      <div class="weather">
      <div class="flex-container">
        <div class="flex-1 weathertitle">
          <div class="weathertoday"><span class="movetodaydegrees">-5°C</span></div>
          <div>Light Snowfall</div>
        </div>
        <div class="snowflake flex-1">
          <i class="fa fa-snowflake-o fa-5x snowcolor" aria-hidden="true"></i>
        </div>
      </div>
      <div class="flex-container">
        <div class="flex-1 weathertomorrow">
          Wed
          <div>
            <p>-3°C</p><i class="fa fa-cloud fa-2x snowcolor" aria-hidden="true"></i>
          </div>
        </div>
        <div class="flex-1 weathertomorrow">
          Thu
          <div>
            <p>-7°C</p><i class="fa fa-cloud fa-2x snowcolor" aria-hidden="true"></i>
          </div>
        </div>
        <div class="flex-1 weathertomorrow">
          Fri
          <div>
            <p>-4°C</p><i class="fa fa-sun-o fa-2x snowcolor" aria-hidden="true"></i>

          </div>
        </div>

        <div class="flex-1 weathertomorrow">
          Sat
          <div>
            <p>-8°C</p><i class="fa fa-snowflake-o fa-2x snowcolor" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>




  </div>















</body>







</html>
