a {
  text-decoration: none;
}

.backcolor {
  background-color: #fbf8f4;
}

.topAndLogo {
  height: 53px;
  width: 100%;
  background-color: #024959;
  padding-top: 20px;
}

.logo {
  font-family: 'Noto Serif', serif;
  color: #F2C777;
  margin-left: 20px;
  margin-top: 5px;
  }


.headline {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.article {
  font-family: 'Exo 2', sans-serif;
  color: #403E3C;
}

.searchbar {
  margin-top: 6.5px;
  margin-left: 113px;
  width: 650px;
  border-radius: 7px;
  border-style: none;
  padding: 7px;
}

.flex-container {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.sidebar {

}


.padcategories {
  margin-left: 37px;
  margin-top: 28px;
  font-size: 1.2em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 0.8px;
}

.linkfix {
  text-decoration: none;
  color: #403E3C;
  transition: 0.3s;
}

.padcategories a:hover {
  color: #024959;
}

.sectionstitle {
  font-family: 'Exo 2', sans-serif;
  margin-left: 14px;
  margin-top: 18px;
  color: #BF2A2A;
}


.databar {
  height: 38px;
  background-color: #024959;
  font-size: 1.3em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.databarAdjust {
  margin-left: 65px;
  margin-top: 11px;
}

.databarPush {
  margin-left: 512px;
  margin-top: 11px;
}

.headercolor {
  color: #F2C777;
  letter-spacing: 0.8px;
}

.snowflake {
  margin-left: 15px;
  margin-top: 20px;
}

.snowcolor {
  color: #024959;
}

.weather {
  height: 300px;
  margin-right: 20px;
  background-color: #F2C777;
  border-radius: 15px;
  margin-top: 15px;
}

.weathertitle {
  margin-left: 24px;
  margin-top: 40px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #024959;
  font-size: 1.5em
}

.weathertoday {
  font-size: 1.3em;
}

.weathertomorrow {
  margin-top: 60px;
  margin-left: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #024959;
  font-size: 1.1em;
}

.movetodaydegrees {
  margin-left: 23px;
}

.trending {
  height: 300px;
  margin-right: 25px;
  margin-top: 15px;
  background-color: #e0e0e0;
  margin-bottom: 200px;
  border-radius: 15px;
}
